.home{
    margin: 10px 0;
    .marquee-top{
        margin: 10px 0;
        .news-card{
            padding: 0;
            marquee{
                ul{
                    display: flex;
                    list-style: square;
                    li{
                        margin: 0 20px;
                        margin-top: 5px;
                        a{
                            color: $secondaryColor;
                            font-size: 18px;
                            font-weight: 600;
                            &:hover{
                                color: $primaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
    .main-news{
        margin: 10px 0;
        .left-wrap{
            .img-wrapper{
                padding: 20px 0;
                img{
                    height: 380px;
                }
            }
            .bottom_heading{
                h3{
                    a{
                        margin-top: 15px 0;
                        font-size: 1.5rem;
                        font-weight: 650;
                        color: black; 
                        &:hover{
                            color: $secondaryColor;
                        }
                    }      
                }
           }
           .bottom-para{
                p{
                    margin-top: 10px;
                    font-size: 1rem;
                    height: 60px;
                    line-height: 21px;
                    overflow:hidden;
                }
                
            }
            .bottom-card{
                padding: 25px 0;
            }
        }
        .right-wrapper-category{
            .sidebarNews{
                display: flex;
                align-items: center;
                margin: 20px 0;
                p{
                    margin-left: 10px;
                }
            }
            .latest-update{
                margin-bottom: 10px; 
            }
        }
    }
    .banner-ad{
        margin: 10px 0;
    }
    .headlines{
        margin: 10px 0;
    }
    .special-news{
        margin: 10px 0;
        .left-wrap{
            .main-content{
                margin: 20px 0;
                h3{
                    font-size: 35px;
                    font-weight: 500;
                }
            }
        }
        .right-wrap{
            .nav{
                border-bottom: 2px solid $primaryColor;
                .nav-link{
                   color: black;
                   font-weight: 600;
                   cursor: pointer;
                   &:hover{
                       background-color: rgb(223, 223, 223);
                   }
                }
                .active{
                    background-color: $primaryColor !important;
                    color: white;
                }
            }
            .nav-news{
                margin: 20px 10px;
                ul{
                    li{
                        font-size: 18px;
                        font-weight: 550;
                        margin: 15px 0;
                        a{
                            &:hover{
                                color: $secondaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
    .province{
        .top-header{
            ul{
                display: flex;
                li{
                    padding: 5px;
                    background-color: $primaryColor;
                    border-radius: 20px;
                    margin: 0 5px;
                    transition: 0.2s ease-in-out;
                    a{
                        color: white;
                    }
                    &:hover{
                        background-color: $secondaryColor;
                    }
                }
            }
        }
        .main-content{
            .left-wrap{
                h3{
                    margin: 20px 0 0 0;
                    font-size: 35px;
                    font-weight: 500;
                }
                p{
                    margin-top: 10px;
                }
                .news-body{
                    margin-top: 10px;
                    text-align: justify;
                    p{
                        height: 60px;
                        line-height: 21px;
                        overflow:hidden;
                    }
                }
            }
            .right-wrap{
                margin-top: 15px;
            }
        }
    }
    .category{
        margin: 10px 0;
        .left-card{
            .main-content{
                .wrap-img{
                    width: 100% !important;
                    h3{
                        margin: 10px 0;
                        a{
                            &:hover{
                                color: $secondaryColor;
                            }
                        }
                    }
                }
            }
        }
    }
    .samana-video{
        margin: 10px 0;
        .wrap-video{
            background-color: #030303;
            .top-header{
                border-bottom: 2px solid #cc000c;
                .title-head{
                    background: #cc000c;
                    &:hover{
                        background-color: $primaryColor;
                        a{
                            color: white;
                        }
                    }
                }
            }
            .see-more{
                a{
                    background-color: #cc000c;
                    color: white;
                    &:hover{
                        background-color: $primaryColor;
                    }
                }
            }
            .left-wrap{
                height: 500px;
            }
            .right-wrap{
                height: 500px;
                overflow:auto;
                .side-wrap-video{
                    margin-bottom: 5px;
                }
            }
        }
    }
    .interview-international{
        margin: 10px 0;
    }
    .sports{
        margin: 10px 0;
        .left-sideMenu{
            margin-bottom: 10px;
            .side-news{
                flex-direction: row-reverse;
            }
        }
        .right-sideMenu{

            margin-top: 10px;
        }

    }
    .entertainment{
        margin: 10px 0;
        .wrap-entertain{
            background-color: black;
            .top-header{
                border-bottom: 2px solid $secondaryColor;
                .title-head{
                    background: $secondaryColor;
                    a{
                        color: black;
                    }
                    &:hover{
                        background-color: $primaryColor;
                        a{
                            color: white;
                        }
                    }
                }
            }
            .see-more{
                a{
                    background-color: $secondaryColor;
                    color: black;
                    &:hover{
                        background-color: $primaryColor;
                    }
                }
            }
            .text-block {
                position: absolute;
                left: 50%;
                bottom: 15px;
                width: 90%;
                transform: translateX(-50%);
                background-color: rgb(54, 54, 54);
                padding: 10px;
                h4{
                    margin: 0;
                }
                a{
                    color: white;
                    &:hover{
                        color: $secondaryColor;
                    }
                }
            }
            .left-wrap{
                img{
                   margin-bottom: 10px;
                }
            }
            .right-wrap{
                img{
                   margin-bottom: 10px;
                }
                h4{
                    font-size: 17px;
                }
            }
        }
    }
    .literature-horoscope{
        margin: 10px 0;
        .news-card{
            .horoscope-wrap{
                .side-news{
                    margin: 20px 0;
                    img{
                        height: 50px;
                    }
                    .side-right{
                        h5{
                            font-size: 15px;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}