@media (min-width:991px) and (max-width:1019px) {
    header{
        .bottom-section{
            .wrap-bottom{
                ul{
                    li{
                        margin: 0 17px;
                    }
                }
            }  
        }
    }
}
@media (min-width:890px) and (max-width:991px) {
    header{
        .bottom-section{
            .wrap-bottom{
                ul{
                    li{
                        margin: 0 13px;
                    }
                }
            }  
        }
    }
}
@media (min-width:768px) and (max-width:820px) {
    header{
        .bottom-section{
            .wrap-bottom{
                margin: 1%;
                ul{
                    li{
                        margin: 0 8px !important;
                    }
                }
            }  
        }
    }
}
@media only screen and (max-width:991px) {
    header{
        .mid-section{
            .wrap-logo{
                margin-bottom: 10px;
            }
        }
    }
    .home{
        .main-news{
            .right-wrap{
                margin-top: 20px;
            }
        }
        .samana-video{
            .wrap-video{
                .right-wrap{
                    margin-top: 10px;
                }
            }
        }
    }
}
@media only screen and (max-width:889px) {
    header{
        .bottom-section{
            .wrap-bottom{
                ul{
                    li{
                        margin: 0 10px;
                    }
                }
            }  
        }
    }
}
@media only screen and (max-width:767px){
    header{
        .top-section{
            .wrap-date{
                display: none;
            }
            .wrap-social{
                ul{
                    li{
                        margin: 0 5px;
                        a{
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        .mid-section{
            .wrap-toggler{
                display: block !important;
                margin-top: 35px;
                text-align: end;
                margin-bottom: 10px;
            }
            .wrap-logo{
                margin-bottom: 10px;
            }
        }
        .bottom-section{
            display: none;
        }
    }
    .home{
        .province{
            .top-header{
                ul{
                    display: none;
                }
            }
        }
    }
}

@media only screen and (max-width:660px){
    .news-detail{
        .news-content{
            .news-title{
                .social{
                    flex-direction: column;
                    .sharethis-inline-share-buttons{
                        margin-top: 10px;
                    }
                }
            }
        }
    }
    footer{
       .top-section{
           flex-direction: column;
            .logo-sec{
                margin: auto;
            }
            .social-sec{
                margin: auto;
                padding: 20px 0px;
                
            }
            .about-sec{
                margin: auto;
            }
        }
        .remove-footer{
            display: none;
        }
      
      
    }
    
}
@media only screen and (max-width:460px){
    .news-detail{
        .news-content{
            .news-title{
                .social{
                    ul{
                       flex-direction: column;
                       li{
                           margin: 0;
                           margin: 3px 0;
                       }
                    }
                }
            }
        }
    }
    footer{
        .bottom-section{
            flex-direction: column;
        }
    }
}
