$primaryColor:#425664;
$shadePrimary:#F6F4F2;
$secondaryColor:#FF6864;

@import './common';
@import './header';
@import './footer';
@import './home';
@import './category-wise';
@import './news-detail';
@import './province-wise';
@import './contact-us';
@import './media_query';